body {
  margin: 0;
  padding: 30px;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 0, 0);
  color: white;
}

td {
  text-align: left;
}

button {
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: 600;
  padding: 5px 15px;
  font-family: inherit;
  cursor: pointer;
  margin: 7px;
}

input {
  font-family: inherit;
  font-weight: 400;
  background: transparent;
  color: white;
  padding: 10px 5px;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
